In [30]:
import pandas as pd
import sqlite3
import dhlab.text.nbtokenizer as tk

In [59]:
def query(db, sql, params=()):
    with sqlite3.connect(db) as con:
        res = pd.read_sql_query(sql, con, params=params)
    return res

def query_tuple(db, sql, params=()):
    with sqlite3.connect(db) as con:
        cur = con.cursor()
        res = cur.execute(sql, params)
    return res.fetchall()

In [11]:
bigrams = "/mnt/disk1/NB-ngram-assoc/avis-bigram-one-row.db"

In [12]:
query(bigrams, "select * from sqlite_master").style

In [23]:
query(bigrams, 
      "select first, second, freq, assoc"
      " from bigram where first = 'stekt'"
      " and assoc > 50 order by assoc desc limit 100")

    first         second  freq       assoc
0   stekt          flesk  1368  328.129925
1   stekt          bacon   869  270.386213
2   stekt        makrell   947  267.023029
3   stekt           mark  1308  252.365160
4   stekt       småtorsk   469  242.285061
5   stekt           fisk  1341  241.619117
6   stekt            løk   837  241.218668
7   stekt          kjøtt   798  202.528317
8   stekt        kylling   605  200.880788
9   stekt            ris   683  190.258629
10  stekt           sild   627  175.074357
11  stekt        flyndre   299  157.981402
12  stekt           sopp   370  146.997574
13  stekt         vafler   375  142.259538
14  stekt          ørret   319  138.329456
15  stekt         kveite   279  134.515313
16  stekt            egg   450  134.259716
17  stekt       hvitting   164  127.035386
18  stekt           laks   393  123.184654
19  stekt           biff   235  120.179344
20  stekt      hellefisk   145  117.428295
21  stekt   fiskepudding   159  115.362760
22  stekt        selbiff    99  105.948827
23  stekt          ribbe   184  105.029392
24  stekt          tomat   153   92.734855
25  stekt             på  2256   81.573390
26  stekt            mat   339   81.238879
27  stekt  spetteflyndre    48   80.136659
28  stekt              i  3929   80.120434
29  stekt       steinbit    92   79.864315
30  stekt      kjøttdeig   107   79.479275
31  stekt         kalkun   103   77.819929
32  stekt          eller   901   77.318062
33  stekt          torsk   172   77.286826
34  stekt            lok   138   73.614076
35  stekt          potet   119   73.100488
36  stekt            sei   148   68.277417
37  stekt          lever   206   62.919763
38  stekt          kjott    80   60.627866
39  stekt     fjellørret    39   56.826679
40  stekt     svinekjøtt    63   56.102055
41  stekt         hellef    23   53.155987
42  stekt        seibiff    31   53.022538
43  stekt      pattegris    25   52.940686
44  stekt    torskefilet    48   51.713584

In [65]:
def parse(s, db):
    words = tk.tokenize(s)
    bigrams = [(words[i], words[j]) for i in range(len(words) - 1) for j in range(i, len(words))]
    ev = evaluate(bigrams, db)
    return pd.DataFrame(ev, columns = ['f','s','freq', 'assoc']).sort_values(by = 'assoc', ascending=False)

def evaluate(bigrams, db):
    return [(x, y) + check(x, y, db) for (x, y) in bigrams]
    
def check(x,y, db):
    res = query_tuple(db, f"select freq, assoc from bigram where first = '{x}' and second= '{y}'")
    if res != []:
        a,b = res[0]
    else:
        a,b = (0,0)
    return (a,b)

In [117]:
parse("en mann vi snakket med bygde et hus.", bigrams)

          f        s     freq        assoc
32      med       et  2470001  2699.621705
1        en     mann   643018  2373.111422
25  snakket      med   209876  1784.070037
40       et      hus   126027   945.316907
12     mann      med   229965   899.136572
18       vi  snakket    27353   515.163326
43      hus        .   461637   512.267003
37    bygde      hus     3933   323.894755
16     mann        .   533439   296.765032
21       vi       et   214962   247.808198
20       vi    bygde     3111   126.494034
36    bygde       et     1795    57.483045
13     mann    bygde       54     2.823934
33      med      hus    21933     2.552798
28  snakket      hus        0     0.000000
15     mann      hus        0     0.000000
35    bygde    bygde        0     0.000000
24  snakket  snakket        0     0.000000
26  snakket    bygde        0     0.000000
11     mann  snakket      118    -1.747651
27  snakket       et     1397    -8.251883
42      hus      hus       77   -15.041269
5        en    bygde      280   -22.457576
31      med    bygde       86   -23.914263
9      mann     mann      181   -24.806062
19       vi      med   286011   -41.205913
3        en  snakket      299   -45.015552
10     mann       vi     4876   -50.301628
22       vi      hus     1377   -55.386548
38    bygde        .     2418   -76.339377
14     mann       et     2151   -88.116147
7        en      hus      691   -88.959226
29  snakket        .     4331  -151.131859
17       vi       vi     8118  -214.503349
39       et       et    28510  -311.845405
2        en       vi    12598  -352.810957
6        en       et    15817  -412.128845
30      med      med    32307  -631.982632
0        en       en    43764  -648.542996
4        en      med   114809  -742.683927
41       et        .    44019  -969.244029
23       vi        .   249371 -1260.513948
34      med        .   113493 -1539.465057
8        en        .   565611 -2186.501929

In [73]:
tk.tokenize("det stod en dr. der. ve lars.johnsen@gmail.com at ftp://www.nb.no")

['det',
 'stod',
 'en',
 'dr.',
 'der',
 '.',
 've',
 'lars.johnsen@gmail.com',
 'at',
 'ftp',
 ':',
 '/',
 '/',
 'www.nb.no']